# Ignore node_modules directory
node_modules/

# Ignore log files
*.log

# Ignore environment variables file (if using dotenv)
.env

# Ignore built files
/build

# Ignore IDE or editor specific files
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Ignore npm debug logs
npm-debug.log*

# Ignore macOS file system metadata
.DS_Store

# Ignore yarn integrity file
.yarn-integrity
